.characters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra los elementos en la línea */
  padding: 16px; /* Añade un padding alrededor del contenedor */
}

.characters-card { /* Cambia character-card a characters-card */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s; /* Añade una transición suave para el hover */
}

.characters-card:hover { /* Añade un efecto hover */
  transform: scale(1.05); /* Escala ligeramente la tarjeta al pasar el mouse */
}

.characters-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 8px; /* Añade margen inferior a la imagen */
}

.characters-card h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.characters-card p {
  font-size: 0.9rem;
  margin: 8px 0;
}
